  /* <button>A8BBA3</button>
    <button>F6F1E9 </button>
    <button>F08787</button>
    <button>C1856D</button> */

body{
  margin-top: 10%;
  margin-left: 30%;
  background-color: black;
  
}
h1{
  color: white;
}
.btn{
  margin-top: 10%;
  margin-left: 10%;
}
button{
  border-radius: 3px;
  padding: 5px 6px;
  border: 1px solid grey;
  
}